<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>我修的可能是假仙</string>
		<key>icon</key>
		<string>book1.png</string>
		<key>detail</key>
		<string>嫦娥仙子为何半夜飙歌，七仙女为何夜偷蟠桃，各方神兽为何屡遭黑手，数百名仙人集体跳广场舞的背后又隐藏着什么？ 这一切的背后，是神仙的抽疯还是道德的沦丧？让我们跟随小说，走进修了假仙的安林的内心世界，开启探索与发现之旅！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>抗日之烽火系统</string>
		<key>icon</key>
		<string>book2.png</string>
		<key>detail</key>
		<string>其实在李小龙赶上班族这趟马车之前，他是一名特种兵，擒拿格斗，样样精通，只不过来自父母的压力他不得不提前退伍。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>交锋</string>
		<key>icon</key>
		<string>book3.png</string>
		<key>detail</key>
		<string>一般人眼中，他是平庸、无能、贪婪，甚至有些愚蠢的巡捕。因为他，经常行动失败，多次无意泄露了重要情报。但他交游广泛，善于溜须拍马和钻营。其实，他一直受我党领导，是一名坚定的革命战士，一名杰出的地下情报工作者！在地下工作中，力挽狂澜，立下了不朽的功勋！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>永恒国度</string>
		<key>icon</key>
		<string>book4.png</string>
		<key>detail</key>
		<string>凌晨，天灾降临。天道生变，万灵欲念执念充斥天地，天道不能承受，恶念横行，众生意念演变幻想世界，恶念，善念，执念，欲望纠缠不休，天道无法承受，已到极限，极则变，幻想降临，万界相融，万物霜天竞自由。此为新纪元开启，是毁灭，亦为新生。这一纪元为永恒纪元。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>最强升级系统</string>
		<key>icon</key>
		<string>book5.png</string>
		<key>detail</key>
		<string>你见过杀鸡爆出神级血脉的没有？你见过杀蛤蟆爆出神品武技的没有？你见过整个世界的女人为他一个人男人疯狂的没有？肩扛屠龙刀，手握诸神剑，哥就问一句，“妈的，还有谁？”宅男龙飞带着一款狂暴系统穿越而来，杀怪升级，杀人也升级，碾压三界，打爆一切不服者！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>创始道济</string>
		<key>icon</key>
		<string>book6.png</string>
		<key>detail</key>
		<string>他是将门废物，被敌人挑断手脚，被父亲流放禁地整整三年。 三年后，他从禁地归来，涅槃重生，誓要搅动风云夺回一切。 他是洛天，弑神屠魔，终要逆天！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大戏骨</string>
		<key>icon</key>
		<string>book7.png</string>
		<key>detail</key>
		<string>他到底是聚光灯下的天才，还是二道幕后的疯子？</string>
	</dict>
	<dict>
		<key>name</key>
		<string>明日末临</string>
		<key>icon</key>
		<string>book8.png</string>
		<key>detail</key>
		<string>2130年，太阳凭空熄灭，地球陷入冰封世界。冰封纪元的最后一位幸存者路远回到了2125，他有五年的时间去改变这一切，凭借跟随着他一起回到过去的辅助光脑。最终，路远决定用游戏拯救这个世界。明日未临，太阳熄灭之后的末世游戏，核聚变技术，人工智能机器人，月球基地，火星城市，现实中还没有完成的一切，都将先在游戏中完成它们的技术预演。科学家，学生，技术工人，歌星，乃至于一切对未来抱有希望的人们，都前赴后</string>
	</dict>
	<dict>
		<key>name</key>
		<string>美人鱼</string>
		<key>icon</key>
		<string>book9.png</string>
		<key>detail</key>
		<string>一场空难，我掉进了陌生世界的冰窟窿。 我遇到了美人鱼妹纸，又遇到了娜迦女妖妹纸，更有！ 我遇到了身材惹火的斗气师妹纸，我还遇到了娇媚动人的魔法使妹纸。 我甚至遇到了穿着圣斗士服装的……这傻妞是在COSPLAY么？ 这里难道是天堂？为何会有这么多的漂亮妹纸？ 但等等！这个世界的男人在哪？难道就我一个？ 妹纸们回答我道：“男人？杀无赦</string>
	</dict>
	<dict>
		<key>name</key>
		<string>备胎大联盟</string>
		<key>icon</key>
		<string>book10.png</string>
		<key>detail</key>
		<string>在本世界混吃等死的岳重同志忽然接到了一个自称泛位面备胎大联盟打来的电话，随即被来源诡异的邮件砸到脑袋，当他拿出那张穿越的车票时，备胎的旅程便开启了。</string>
	</dict>
</array>
</plist>
